body {
  background: lightblue;
}
h1 {
  border: 5px dashed orange;
  text-align: center;


}
li {
color: red;

}
.filippo {
  color: orange;
}
#workexperience {
  text-decoration: line-through;
}
 a:hover {
  color: green;
  text-decoration: none;
}
.link {
  color: green;
}
.navigation{
  color: red;

}
