body {
  background: lightblue;
}
h1 {
  border: 5px dashed orange;
}
li {

}
.filippo {
  color: red
}
#workexperience {
  text-decoration: line-through;
}
a:hover {
  color: green;
  text-decoration: underline;
}
