body {
  background: lightblue;
  font-family: 'Cinzel', serif;
}
h1 {
  border: 5px dashed orange;
  text-align: center;


}
li {
color: green;

}
.filippo {
  color: orange;
}
#workexperience {
  text-decoration: line-through;
}
#fashion {
  color: orange;
}
#music {
  color: green;
}
#film {
  color: red;
}
#title {
  text-decoration: overline;
  
}

 a:hover {
  color: green;
  text-decoration: none;
}
.link {
  color: green;
}
.navigation{
  color: red;

}
h1 {
 text-align: center;
 border-bottom: 5px dotted red;
 padding-bottom: 15px
 font-family: 'Cinzel', serif;
 font size: 50px
}
