.article1{
display: grid;
grid-template-columns: 2fr 2fr;

}
.article2{
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.article3  {
display: grid;
grid-template-columns: 2fr 2fr;

}

nav ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.article4 {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}

.imagestext {
  display: grid;
  grid-template-columns: 5fr 10fr;
}
