



.article1{
display: grid;
grid-template-columns: 1fr 1fr;

}
.article2{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.article3{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.article4 {
  
  grid-template-columns: 1fr 1fr 1fr;
}
