body {
  background-color: lightblue;
}

.grid {display: grid;}



.primarycolor { color:     }
.secondarycolor { color:     }
.generalcolor { color:      }

.primarybackground {background: #}
.secondarybackground {background: #}
.generalbackground {background: #}

.article1{
display: grid;
}
.article2{
    grid-template-columns: 5fr 5fr 5fr;

}

.article3 img {
  max-width: 100%;
  margin: 10px;
}
.article3 div {padding: 5px;

}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
}
nav ul a {
  text-decoration: none;
  text-align: center;
}
header {
  text-align: center;
  color: red;

}
h2 {text-align: center;}

.article4 {
display: grid;
}
h1 {
  background-color: light blue;
}
